<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="solid">
        <p> Інформацію взято з сайту  -  https://uk.wikipedia.org/wiki/</p>
    </div>
    

    <h3>{% for book in books %}

        <p> {{book.title}} - {{book.author}}</p>

    {% endfor %}</h3>
        
</body>
</html>