<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="solid">
        <p> Інформацію взято з сайту  -  https://uk.wikipedia.org/wiki/</p>
        <form method="get" action="/book_list">
            <p><button type="submit">Список книжок</button></p>
        </form>
    </div>
    <h1>
        <a href="https://uk.wikipedia.org/wiki/{{book.title}}">{{book.title}} - </a>
        <a href="https://uk.wikipedia.org/wiki/{{book.author}}">{{book.author}}</a>
    </h1>
    <div class='container'>
        <p>{{book.info}} </p>
        <img src= "/static/{{book.img_path}}">
        <p>{{book.pages}} сторінок</p>
    </div>

</body>
</html>
